main {
  background-color: black;
}

/* section 1 */

.main_visual {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main_visual video {
  width: 100%;
}

.main_visual .text {
  position: absolute;
  color: white;
  font-size: 36px;
  left: 80px;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 1024px) {
  .main_visual {
    overflow: hidden;
  }
  .main_visual video {
    width: auto;
    height: 100vh;
  }
  .main_visual .text {
    font-size: 16px;
    left: 20px;
  }
}


/* section 2 */

.graph {
  padding: 120px 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph h1 {
  font-size: 36px;
  padding-bottom: 60px;
  text-align: left;
  width: 100%;
}

.graph .wrap {
  width: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph .wrap .line {
  position: absolute;
  width: calc(100% - 32px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  left: 16px;
  top: 16px;
}

.graph .wrap .text {
  width: 100%;
  z-index: 1;
}

.graph .wrap .text ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.graph .wrap .text ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph .wrap .text ul li .circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph .wrap .text ul li .active {
  background-color: rgba(255, 255, 255, 0.3);
}

.graph .wrap .text ul li .circle .circle2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

.graph .wrap .text ul li p {
  padding-top: 10px;
  font-size: 20px;
  line-height: 1.3;
}

@media screen and (max-width: 1024px) {
  .graph {
    padding: 80px 20px;
  }
  .graph h1 {
    font-size: 24px;
    padding-bottom: 60px;
  }
  .graph .wrap .line {
    width: calc(100% - 16px);
    left: 8px;
    top: 8px;
  }
  .graph .wrap .text ul li .circle {
    width: 20px;
    height: 20px;
  }
  .graph .wrap .text ul li .circle .circle2 {
    width: 10px;
    height: 10px;
  }
  .graph .wrap .text ul li p {
    padding-top: 5px;
    font-size: 14px;
    line-height: 1.3;
  }
}

.section3 {
  width: 100%;
  padding: 200px 40px;
  min-height: 900px;
  color: white;
  background-image: url("../img/page1_img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section3 .text {
  padding-bottom: 100px;
}

.section3 .text h1 {
  font-size: 32px;
  padding-bottom: 20px;
}

.section3 .text p {
  font-size: 20px;
  line-height: 1.5;
}

.section3 .time_wrapper span {
  font-size: 120px;
  font-weight: 600;
}

.section3 .button {
  width: 300px;
  height: 40px;
  border-radius: 15px;
  background-color: #7E57C2;
  transition: opacity 0.3s;
  margin-top: 60px;
}

.section3 .button:hover {
  opacity: 0.8;
}

.section3 .button a {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .section3 {
    padding: 80px 20px;
    min-height: 0px;
  }
  .section3 .text {
    padding-bottom: 40px;
  }
  .section3 .text h1 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .section3 .text p {
    font-size: 15px;
  }
  .section3 .time_wrapper span {
    font-size: 40px;
    font-weight: 600;
  }
  .section3 .button {
    width: 200px;
  }
}

.partners {
  width: 100%;
  color: white;
  padding: 100px 40px;
  overflow: hidden;
  position: relative;
}

.partners h1 {
  font-size: 32px;
  padding-bottom: 50px;
}

.partners .img {
  position: absolute;
  height: 100px;
  width: 5990px;
  animation: partners 80s infinite linear;
}

@keyframes partners {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

.partners .img img {
  height: 100%;
}

.partners .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners .swiper img {
  height: 60px;
}

@media screen and (max-width: 1024px) {
  .partners {
    padding: 100px 20px;
  }
  .partners h1 {
    font-size: 24px;
    padding-bottom: 50px;
  }
  .partners .swiper img {
    height: 30px;
  }
  .partners .img {
    height: 50px;
    width: 2995px;
    animation: partners 52s infinite linear;
  }
}

